CREATE PROCEDURE EXD_SP_PM_LISTAR_SERIES_X_SUCURSAL
AS
BEGIN
	declare @tieneSucursales varchar(1)= (select "MltpBrnchs" from OADM);

	if @tieneSucursales = 'Y'
		select 
			T0."BPLId"						as "BPLId",
			T0."BPLName"					as "BPLName",
			coalesce(T0.U_EXX_RETPRO,'N')	as "RetPro",
			(select MAX(TX0."Series") from NNM1 TX0 where isnull(TX0."BPLId",'0') = isnull(T0."BPLId",'0') and coalesce(TX0.U_EXC_CR,'') != 'Y' and TX0."ObjectCode" = '46') as "CodSerPago",
			(select MAX(TX0."SeriesName") from NNM1 TX0 where isnull(TX0."BPLId",'0') = isnull(T0."BPLId",'0') and coalesce(TX0.U_EXC_CR,'') != 'Y' and TX0."ObjectCode" = '46')  as "NomSerPago",
			(select MAX(TX0."Series") from NNM1 TX0 where isnull(TX0."BPLId",'0') = isnull(T0."BPLId",'0') and coalesce(TX0.U_EXC_CR,'') = 'Y' and TX0."ObjectCode" = '46') as "CodSerReten",
			(select MAX(TX0."SeriesName") from NNM1 TX0 where isnull(TX0."BPLId",'0') = isnull(T0."BPLId",'0') and coalesce(TX0.U_EXC_CR,'') = 'Y' and TX0."ObjectCode" = '46') as "NomSerReten"
		from OBPL T0 order by 1;
	else
		select 
			isnull(MAX(T0."BPLId"),'0') as "BPLId",
			isnull(MAX(T0."BPLName"),'Principal') as "BPLName",
			coalesce(MAX(T0.U_EXX_RETPRO),'N') as "RetPro",
			(select MAX(TX0."Series") from NNM1 TX0 where isnull(TX0."BPLId",'0') = isnull(MAX(T0."BPLId"),'0') and coalesce(TX0.U_EXC_CR,'') != 'Y' and TX0."ObjectCode" = '46') as "CodSerPago",
			(select MAX(TX0."SeriesName") from NNM1 TX0 where isnull(TX0."BPLId",'0') = isnull(MAX(T0."BPLId"),'0') and coalesce(TX0.U_EXC_CR,'') != 'Y' and TX0."ObjectCode" = '46')  as "NomSerPago",
			(select MAX(TX0."Series") from NNM1 TX0 where isnull(TX0."BPLId",'0') = isnull(MAX(T0."BPLId"),'0') and coalesce(TX0.U_EXC_CR,'') = 'Y' and TX0."ObjectCode" = '46') as "CodSerReten",
			(select MAX(TX0."SeriesName") from NNM1 TX0 where isnull(TX0."BPLId",'0') = isnull(MAX(T0."BPLId"),'0') and coalesce(TX0.U_EXC_CR,'') = 'Y' and TX0."ObjectCode" = '46') as "NomSerReten"
		from OBPL T0 order by 1;
END
