CREATE PROCEDURE EXD_PM_VALIDAR_PAGO_RETENCIONES
AS
BEGIN
	declare @tieneSucursales varchar(1)= (select "MltpBrnchs" from OADM);

	IF @tieneSucursales = 'Y'
	BEGIN
		select distinct T0."DocNum" from "@EXP_OPMP" T0 
		inner join "@EXP_PMP1" T1 on T0."DocEntry" = T1."DocEntry" 
		where U_EXP_AFECTO_RETENCION = 'Y' and coalesce(T1.U_EXP_ESTADO,'') = ''
		and datediff(day,T0."CreateDate",GetDate()) > 7
	END
	ELSE
	BEGIN
		select distinct T0."DocNum" from "@EXP_OPMP" T0 
		inner join "@EXP_PMP1" 	T1 on T0."DocEntry" = T1."DocEntry" 		
		where U_EXP_AFECTO_RETENCION = 'Y' and coalesce(T1.U_EXP_ESTADO,'') = ''
		and coalesce((select max(U_VALOR) from "@SMC_APM_CONFIAPM" where "Code" = '2'),'') =  'Y' 
		and datediff(day,T0."CreateDate",GetDate()) > 7
	END
END