CREATE PROCEDURE SBO_EXX_PM_BCP
	@NroPM int,
	@NroSC int,
	@NroCT varchar(50)
AS
BEGIN
	with CTE_CAB AS
	(
		select
			top 1
			'1'															as "TipoRegistro",
			sum(1)														as "CntDeAbonos",
			CONVERT(VARCHAR(10), GETDATE(), 112)						as "FechaProceso",
			'C'															as "TipoCtaCargo",
			case when T1."U_EXP_MONEDA" = 'SOL' then '0001' else '1001' end	as "Moneda",
			left(replace(T3."Account",'-','') + REPLICATE(' ',20),20)	as "NroCtaCargo",
			CAST(sum(T1."U_EXP_IMPORTE") AS DECIMAL(14,2))				as "TotalPlanilla",
			isnull(T1."U_EXP_COMENTARIO",'')							as "Referencia",
			'N'															as "FlagExoITF",
			''															as "TotalControl",
			''															as "Filler",
			T2."DocNum"													as "NroPlanilla",
			''															as "Estado"
		from  
		"@EXP_PMP1" 				T1
		inner join "@EXP_OPMP" 		T2 on T1."DocEntry" = T2."DocEntry"
		inner join DSC1 			T3 on T3."BankCode" = T1."U_EXP_CODBANCO"  and T1."U_EXP_CODCTABANCO" =  T3."GLAccount"
		where T3."BankCode" = '002' --and ifnull(T3."UsrNumber2",'') = 'C'
		and T2."DocEntry" = @NroPM
		--and T1."U_EXP_COD_SUCURSAL" = @NroSC
		and T1."U_EXP_CODCTABANCO" = @NroCT
		and T1.U_EXP_SLC_PAGO = 'Y'
		group by T2."DocEntry",T1."U_EXP_COD_SUCURSAL",T2."CreateDate",T1."U_EXP_MONEDA",T3."Account",T1."U_EXP_COMENTARIO",T2."DocNum"
	),

	CTE_PROV AS
	(
		select 
			'2'																			as "TipoRegistro",
			case T1."U_EXP_CODBANCOPROV" when '002' then isnull(T4."UsrNumber2",' ') else 'B' end	as "TipoCuentaAbono",
			isnull(replace(case when T4."BankCode" = '002' 
			then T4."Account" else T4."U_EXM_INTERBANCARIA"end ,'-',''),'')				as "NroCtaAbono",
			'1'																			as "ModalidadDePago",
			isnull(T3."U_EXX_TIPODOCU",'') 												as "TipoDocumentoProv",
			T3."LicTradNum"																as "NroDocProv",
			'   '																		as "CorrDocProv",
			T3."CardName"																as "NombreProveedor",
			isnull(T1."U_EXP_COMENTARIO",'')											as "ReferenciaProveedor",
			''																			as "ReferenciaEmpresa",
			case when T1."U_EXP_MONEDA" = 'SOL' then '0001' else '1001' end				as "Moneda",
			CAST(T1."U_EXP_IMPORTE" AS DECIMAL(14,2))									as "Importe",
			'S'																			as "Validar",
			''																			as "Filler"
		--from OVPM T0 
		from "@EXP_PMP1"		T1 
		inner join "@EXP_OPMP"	T2 on T1."DocEntry" = T2."DocEntry"
		inner join OCRD			T3 on T1."U_EXP_CARDCODE" = T3."CardCode"
		inner join OCRB			T4 on T4."CardCode" = T3."CardCode" and T1."U_EXP_MONEDA" = T4."UsrNumber1"
		where T2."DocEntry" = @NroPM 
		--and T1."U_EXP_COD_SUCURSAL" = @NroSC
		and T1."U_EXP_CODCTABANCO" = @NroCT
		and T1.U_EXP_SLC_PAGO = 'Y'
		and T4."U_EXC_ACTIVO" = 'Y'
	)
	select 
		"TipoRegistro"			+
		left("CntDeAbonos" + REPLICATE('0',6),6)	+
		"FechaProceso"			+
		"TipoCtaCargo"			+
		"Moneda"				+
		left("NroCtaCargo" + replicate(' ',20),20)			+
		left(round("TotalPlanilla",2)+replicate('0',17),17)			+
		left(left("Referencia",40)+replicate(' ',40),40)			+
		"FlagExoITF"			+
		left(CAST(right(rtrim(ltrim("NroCtaCargo")),10)+(select sum(cast(right(rtrim(ltrim(TX0."NroCtaAbono")),10) as bigint)) from CTE_PROV TX0 where isnull(TX0."NroCtaAbono",'') <>'') as bigint)+replicate('0',15),15)+
		--rpad("Filler",100,' ') +
		--lpad("NroPlanilla",6,'0') +
		--lpad((select count('A') from CTE_PROV),6,' ') +
		--lpad('0',6,' ') +
		--lpad("Estado",80,' ')
		'Z' as "Data"
	from CTE_CAB
	union all 
	select 
		"TipoRegistro"			+
		"TipoCuentaAbono"		+
		left("NroCtaAbono"+replicate(' ',20),20) +
		"ModalidadDePago"		+
		"TipoDocumentoProv"		+
		left("NroDocProv"+replicate(' ',12),12)		+
		"CorrDocProv"			+
		left(left("NombreProveedor",75)+replicate(' ',75),75)		+
		left(left("ReferenciaProveedor",40)+replicate(' ',40),40)	+
		left(left("ReferenciaEmpresa",20)+replicate(' ',20),20)	+
		"Moneda"				+
		left(round("Importe",2)+replicate('0',17),17)				+
		"Validar"
		+'Z' as "Data"
	from CTE_PROV where isnull("NroCtaAbono",'') <>'';
	/*
	union all 
	select 
		"TipoRegistro"		+
		"TipoDocumento"		+
		lpad(ifnull("NroDocAPagar",''),15,'0')	+
		lpad("Importe",17,'0')
		+'Z' as "Data"
	from CTE_BENEF;
	*/
END;